html{
    color:white;
    background-image: url(back.jpg);
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   /*background: linear-gradient(red, green); 
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   background-attachment: fixed; */
}
h1{
   background: linear-gradient(red, orange, yellow);
}
#mytext{
    background: linear-gradient(grey, black);
    font-size: 20px;
}