
h1{
    border-top-style:double;
    border-bottom-style:dotted;
    border-right-style:dashed;
    border-left-style:groove;
    border-top-color:#00FF00;

}
p{  
   /* border-style:solid; */
    font-size:20px;
    padding:30px;   
   /* border-style:dashed; */
   /* border-style:dotted; */
   /* border-style:double; */
   /* border-style:ridge; */
   /* border-style:groove; */
    border-style:inset;
    border-style:outset;
    border-width:5px;
    border-color:#00FF00;
    border-radius:10px;


}   